.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-base);
  font-weight: 500;
  padding: 12px 30px;
  background: var(--color-background);
  color: var(--color-text);
}

.footerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footerMiddle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerMiddleApple img, .footerMiddleGoogle img {
  align-items: center;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 5px;
  display: flex;
  /* height: 44px; */
  justify-content: center;
  position: relative;
  width: 152px;
  padding: 4px 8px;
}

.footerCopyrightLink {
  margin-left: 4px;
  color: var(--color-primary);
}

.footerCopyright {}

.footerRight {}

.footerMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    gap: 2px;
    font-size: calc(var(--font-size-base) - 2px);
  }
}